<% if logged_in? %>
  <div class="row">
    <div class="col-md-8">
    </div>
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <div class="side-menu">
        <p class="mini-title">口コミを探す</p>
         <ul>
          <li><%= link_to "> カテゴリーから探す","#" %></li>
          <li><%= link_to "> ブランドから探す","brands_path" %></li>
          <li><%= link_to "> ランキングから探す","#" %></li>
          <li><%= link_to "> 新着商品から探す","products_path" %></li>
          <li><%= link_to "> 記事から探す","#" %></li>
          <li><%= link_to "> 注目商品から探す","#" %></li>
        </ul>
      </div>
    </aside>
  </div>
<% else %>
  <div class="center explain">
    <h1>Welcome to FLYB !</h1>
    <p>FLYB(フライビー)は男性向けの化粧品・コスメの口コミ情報サイトです。</p>
    <p>あなたにあった化粧品・コスメを見つけましょう。</p>
    <ul class="home-btns">
        <li><%= link_to "カテゴリ", users_path , class: "home-btn"%></li>
        <li><%= link_to "ランキング", users_path, class: "home-btn" %></li>
        <li><%= link_to "新着コスメ", users_path, class: "home-btn" %></li>
    </ul>
  </div>
<% end %>