<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center explain">
    <h1>Welcome to FLYB !</h1>
    <p>FLYB(フライビー)は男性向けの化粧品・コスメの口コミ情報サイトです。</p>
    <p>あなたにあった化粧品・コスメを見つけましょう。</p>
    <ul class="home-btns">
        <li><%= link_to "カテゴリ", users_path , class: "home-btn"%></li>
        <li><%= link_to "ランキング", users_path, class: "home-btn" %></li>
        <li><%= link_to "新着コスメ", users_path, class: "home-btn" %></li>
    </ul>
  </div>
<% end %>